<?xml version="1.0"?>

<appSettings>

  <!-- About Version -->
  <add key="Version" value="3.0.0.0" />
  <!--/ End VGI About Version -->

  
<!--  
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />  
-->
  
  <!-- MVC Default Page -->
  <add key="Default_Controller" value="Login" />
  <add key="Default_Controller_Action" value="Index" />
  <!--/ End MVC Default Page -->

  <!--To define the database schema name (i.e dbo) -->
  <add key="DBSchemaName" value="dbo" />
  <add key="PBTSStockView_DBSchemaName" value="dbo" />

  <!--The default paging size in grid-->
  <add key="PagingDisplay" value="10" />

  <!--If use GMail -->
  <!--Gmail port 587, ssl port 465 https://support.google.com/mail/answer/13287 --> 
  <!--<add key="UseGmail" value="N"/>-->
  
  <!--SuperAdmin's email address -->
  <!--<add key="SMTPUserId" value="noreply@socket9.com"/>
  <add key="SMTPHost" value="mail.socket9.com"/>
  <add key="SMTPPort" value="25"/>
  <add key="SMTPUserPWD" value="PSNoReply"/>-->

  <!--Phatra Configuration-->
  <!--<add key="SMTPUserId" value="noreply@phatrasecurities.com"/>
  <add key="SMTPHost" value="192.168.18.70"/>
  <add key="SMTPPort" value="25"/>
  <add key="SMTPUserPWD" value=""/>-->

  <!--This URL parameter will be used when send email for user management. It is part of the mail body.--> 
  <!--<add key="PBTSLoginUrl" value="http://pbts.socket9.com"/>-->
  <!--Phatra Configuration-->
  <!--<add key="PBTSLoginUrl" value="http://192.168.28.96"/>-->

  <!--This parameter is the restful web service path-->
  <!--<add key="StockWebServicePath" value="http://ptsecmsappbtu1.phatrasec.com:8089/OrderEntryService"/>-->
  <!--<add key="StockWebServicePath" value="http://ptsecmsappbtu1:8089/OrderEntryService"/>-->

  <!--k1 tick is system variable (default is 3 tick) which is used in validation rule during order submission. There is a predefined tick table in the codes for 1 tick. -->
  <!--<add key="K1Tick" value="3"/>-->
  <!--k2 tick is system variable (default is 1 tick) which is used in validation rule during order submission. There is a predefined tick table in the codes for 1 tick. -->
  <!--<add key="K2Tick" value="1"/>-->

  <!--Expecting the OrderStage notification (DashboardController::ActivateLiveOrdersByStage()) to call in every x second (unit in second)-->
  <add key="orderstagenotificationrefreshtimer" value="20"/> 
 <!--<add key="orderstagenotificationrefreshtimer" value="20"/> -->
 
  <!--Expecting the blotter view (DashboardController::GetLiveOrders()) to call in every x second (unit in second)-->
  <add key="blotterrefreshtimer" value="10"/> 
   <!--<add key="blotterrefreshtime" value="10"/> -->
  
  <!--Expecting the available position view to call in every x second (unit in second)-->
  <add key="AvailPositionRefreshTimer" value="3600"/>
  <!--<add key="AvailPositionRefreshTimer" value="15"/> -->

  <!--Expecting the activity log (DashboardController::GetActivityLog()) to call in every x second (unit in second)-->
  <!-- <add key="ActivityLogRefreshTimer" value="3600"/> -->
  <add key="ActivityLogRefreshTimer" value="30"/>
  
  <!--Expecting the News (DashboardController::GetNews()) to call in every x second (unit in second)-->
  <add key="newsrefreshtimer" value="3600"/>
  <!-- <add key="NewsRefreshTimer" value="3600000"/> -->
  
  <!--The usage is Limit_Used = 1 if Upfront_Fee < 8% = 1, otherwise = 0 (used in Risk Limit Calculation) i.e. 8.5 is meaning 8.5%-->
  <!--<add key="FixInterest" value="8"/>-->

  <!--The minimum fee which is used in BasisClose and FuturePriceClose -->
  <!--<add key="MinimumFee" value="0.005"/>-->

  <!--Cancel button when pre-configuration (i.e 16.40), when click x (cancel) will move orders allocated orders automatically.-->
  <!--<add key="TimeToMoveXMOrdersToAllocation" value="16:40"/>-->

  <!--This parameter is the FIX parameter when send to the stock web service (.HandlInst). For testing purpose 'DMA' (1). For production purpose is 'Manual' (3)-->
  <!--<add key="FIXOrderHandlInst" value="Manual"/>-->

  <!--This parameter is the FIX parameter when send to the stock web service (.Account). It is the Phatra account id for stock market-->
  <!--<add key="PhatraStockAccount" value="0000055213"/>-->

  <!--Time to enable Done Allocation Button in Allocation Page.-->
  <!--<add key="TimeToEnableDoneAllocationButton" value="17:00:0"/>-->

  <!--Time start auto Done Allocation Process.-->
  <!--<add key="TimeToDisableDoneAllocationButton" value="20:00:0"/>-->

  <!--Time start auto Done Allocation Process.-->
  <!--<add key="StoredProdedureDoneAllocationName" value="DoneAllocatedOrderProcedure"/>-->

  <!--location allow to action in allocation.( Allocated, Unallocated, Sweep-->
  <add key="LocationAllow" value="Unallocated"/>

  <!--Time to auto-logout by UI. The default value is 18:00.-->
  <!--<add key="AutoLogoutTime" value="18:00"/>-->

  <!--Force เปลี่ยนรหัสผ่านทุก ๆ 6 เดือน  (สามารถเปลี่ยน configuration ได้)-->
  <!--<add key="ForceChangePasswordMonth" value="6"/>-->

  <!--สามารถกำหนดจำนวนครั้งที่ยอมให้ผู้ใช้งานใส่รหัสผ่านผิดได้ไม่เกิน 5 ครั้ง (สามารถเปลี่ยน configuration ได้)-->
  <!--<add key="MaxPasswordAttempt" value="2"/>-->

  <!--สามารถกำหนดจำนวนครั้งที่ยอมให้ผู้ใช้งานใส่รหัส PIN ผ่านผิดได้ไม่เกิน 5 ครั้ง (สามารถเปลี่ยน configuration ได้)-->
  <!--<add key="MaxPINAttempt" value="2"/>-->

  <!--Audit trail should limit the display to only the past 7 days-->
  <!--<add key="MaxAuditTrailDisplayedDay" value="7"/>-->

  <!--PBTS Restful Web Service url-->
  <add key="PBTSRestApiUrl" value="http://ptsecmsbtappu3"/>
  <!--<add key="PBTSRestApiUrl" value="http://192.168.1.62:61312"/>-->
  <!--<add key="PBTSRestApiUrl" value="http://192.168.10.230:443"/>-->
  <!--<add key="PBTSRestApiUrl" value="http://localhost:62313"/>-->

  <!-- EncryptionKey is one single global key for message encryption when call the server API -->
  <add key="EncryptionKey" value="4c4d534578616d506172616d" />

  <!-- SignatureKey is one single global key for message encryption when call the server API -->
  <add key="SignatureKey" value="4c4d534578616d4d6f64756c65" />

  <!--(29 Jun 2015) Timeout in minute for the purpose of preventing multiple login with the same LoginId. Each item in AppDomain cache will set as x minute. -->
  <!--<add key="LoginAlreadyInUseTimeout" value="1"/>-->

  <!--(PBTS 1.2) This folder must be created ahead before running. It is for saving the MS-Excel file on the web server after importing dividend and risk limit. The filename are Dividend-2558-08-14_01-09-37-AM.xlsx or RiskLimit-2558-08-14_01-09-22-AM respectively -->
  <add key="UploadLocation" value="~/upload" />

  <!--PBTS 2.0 for check security on referer-->
  <!-- <add key="pbtsrefererurl" value="ptsecmsbtwebu3"/> -->
  <add key="PBTSRefererUrl" value="pbtsdemo.phatrawarrant.com"/>
   <!-- <add key="PBTSRefererUrl" value="ptsecmsbtappu3"/> -->
  
  <!--PBTS 3.0 for Load Balance-->
  <add key="WebUINumber" value="#3"/>

  <!--PBTS 3.1 SignalR Market Feed-->
  <add key="efoxnet_signalrname" value="private_username_signalr_efoxnet"/>
  <add key="efoxnet_remove_socket_after_second" value ="20"/>
  <add key="CacheConnection" value="ptseclsrdsbtu1" />
  
    <!-- PBTS API Rabbit MQ Info -->
  <add key="RabbitMqUserName" value="rabbitmq"/>
  <add key="RabbitMqPassword" value="rabbitmq"/>
  <add key="RabbitMqExchange" value="legacy.exchange"/>
  <add key="RabbitMqHostname" value="192.168.18.204"/>
  <add key="RabbitMqHostPost" value="30672"/>
  <add key="RabbitMqVirtualHost" value="/"/>
  
  <!-- PBTS API Farm-->
  <add key="AuthenticationServiceApi" value="http://192.168.18.204/authenservice/api"/>
  <add key="LoggingServiceApi" value="http://192.168.18.204/loggingservice/api"/>
  <add key="DataManagementServiceApi" value="http://192.168.18.204/datamanagementservice/api"/>
  <!-- <add key="FutureContactServiceApi" value="http://192.168.18.207/futurecontractservice/api/FutureContract"/> -->
  <add key="FutureContactServiceApi" value="http://192.168.18.204/futurecontractservice/api"/> 
  
</appSettings>