<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="botDetect" requirePermission="false" type="BotDetect.Configuration.BotDetectConfigurationSection, BotDetect" />
  </configSections>
  <connectionStrings>
    <!-- PBTS -->
    <!--<add name="PBTSEntities" connectionString="metadata=res://*;provider=System.Data.SqlClient;provider connection string='data source=&quot;www.socket9.com, 14330&quot;;initial catalog=PBTS;user id=PBTS;password=PBTS;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />-->
    <!--<add name="PBTSConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=ARCADIADEV2\SQLEXPRESS;Initial Catalog=PBTS;Integrated Security=True;MultipleActiveResultSets='true'" />-->
    <!--<add name="PBTSStockViewConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=ARCADIADEV2\SQLEXPRESS;Initial Catalog=PBTSStockView;Integrated Security=True;MultipleActiveResultSets='true'" />-->
    <!--<add name="PBTSConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=&quot;www.socket9.com,14330&quot;;Initial Catalog=PBTS;MultipleActiveResultSets='true';User Id=PBTS;Password=PBTS;" />-->
    <!--<add name="PBTSStockViewConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=&quot;www.socket9.com,14330&quot;;Initial Catalog=PBTSStockView;MultipleActiveResultSets='true';User Id=PBTS;Password=PBTS;" />-->
    <!--<add name="PBTSConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=YEMBO-PC\G_MSSQLSERVER;Initial Catalog=PBTS;Integrated Security=True;MultipleActiveResultSets='true'" />-->
    <!--<add name="PBTSStockViewConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=YEMBO-PC\G_MSSQLSERVER;Initial Catalog=PBTSStockView;Integrated Security=True;MultipleActiveResultSets='true'" />-->
    <!--Phatra Configuration-->
    <!--<add name="PBTSConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=&quot;10.88.22.230,1433&quot;;Initial Catalog=PBTS;MultipleActiveResultSets='true';User Id=OrderEntry;Password=phatra;" />-->
    <!--<add name="PBTSStockViewConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=&quot;10.88.22.230,1433&quot;;Initial Catalog=PBTSStockView;MultipleActiveResultSets='true';User Id=OrderEntry;Password=phatra;" />-->
  </connectionStrings>
  <appSettings configSource="appsettings.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!-- (27 Jul 2015) {PENTEST}, 1.1.3. Secure flag is not set on “Set-Cookie” header-->
    <!--{SSL} If use SSL and need to set Secure Flag, need to remove the comment. -->
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <!--(8 Aug 2015) {PENTEST #2} 1. X-AspNetMvc-version is still found. Add the <httpRuntime enableVersionHeader="false" /> into web.config -->
    <httpRuntime enableVersionHeader="false" targetFramework="4.5" />
    <compilation targetFramework="4.6.1" />
	<customErrors mode="Off" />
    <authentication mode="Forms">
      <!--{SSL} If use SSL and need to set Secure Flag, need to remove the comment. -->
      <forms loginUrl="~/" timeout="2880" requireSSL="true" />
      <!--<forms loginUrl="~/" timeout="2880" />-->
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0" enableSessionState="true">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
      <controls>
        <add assembly="BotDetect" namespace="BotDetect.Web.UI" tagPrefix="BotDetect" />
      </controls>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--timeout in minute-->
    <sessionState cookieless="AutoDetect" customProvider="DefaultSessionProvider" mode="InProc" sessionIDManagerType="BotDetect.Web.CustomSessionIdManager, BotDetect" timeout="1800">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="192.168.16.128" accessKey="" ssl="false" />
      </providers>
    </sessionState>
    <!--<sessionState mode="Custom" customProvider="MySessionStateStore">
      <providers>
        <add name="MySessionStateStore" type="Microsoft.Web.Redis.RedisSessionStateProvider" host="192.168.16.128" accessKey="" ssl="false" />
      </providers>
    </sessionState>-->
    <!-- Custom Erro Redirect -->
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="~/" />
    </customErrors>-->
    <!--/ End Custom Erro Redirect -->
    <httpHandlers>
      <add verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </httpHandlers>
        <machineKey decryptionKey="6F97431D096DE6127A5035A145B2F4FDC72E44860DCA41E8" validationKey="3364D1BBE45D467EA3511C892228A1696096FD24980EB72D3BB8A5AB46C48B633435275FA64F1630A3A68636C63F073081F7C692741C73CAC2A76CB4EF39D7ED" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <remove name="BotDetectCaptchaHandler" />
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect" />
    </handlers>
    <!-- (27 Jul 2015) {PENTEST}, 1.1.1 X-Frame-Options is missing on HTTP response header-->
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.1.140" newVersion="3.1.1.140" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StackExchange.Redis.StrongName" publicKeyToken="c219ff1ca8c2ce46" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
	  <dependentAssembly>
		<assemblyIdentity name="System.Net.Http" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
		<bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
	  </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <botDetect helpLinkEnabled="true" helpLinkMode="image" />
</configuration>
<!--ProjectGuid: FE8983CD-A441-4E79-A4A6-819C04291658-->